@page "/examples/add-popup"

@using Community.Blazor.MapLibre.Models.Event

<ViewOnGitHub FilePath="examples/Community.Blazor.MapLibre.Examples/Examples/AddPopup.razor"/>

<MapLibre @ref="_map"
          Options="_mapOptions"
          OnLoad="OnMapLoad"
          Class="rounded-top"
          Height="600px">
</MapLibre>

@code
{
    private MapLibre _map = new();
    
    private readonly MapOptions _mapOptions = new()
    {
        Style = ExampleMapStyles.OpenStreetMap
    };

    private async Task OnMapLoad(EventArgs args)
    {
        await _map.OnClick(null, AddPopup);

        async Task AddPopup(MapMouseEvent evnt)
        {
            var popup = await _map.AddPopup(new PopupOptions
            {
                CloseOnClick = true,
                CloseOnMove = true,
                FocusAfterOpen = true,
            }, evnt.LngLat, $@"
                           <div>
                               <h3>Map clicked</h3>
                               <p>You clicked the map at <code>{evnt.LngLat.Latitude} {evnt.LngLat.Longitude}</code></p>
                           </div>
                           ");

            await popup.OnClose(async _ => await popup.RemoveAsync());
        }
    }
}
